---

---
@import "minima-{{ site.minima.skin | default: 'classic' }}";
.myheader {
  @media screen and (min-width: $on-medium) {
    // padding: 30px 0;
    // flex: 1 0 auto;
    min-height: 55.95px;
    line-height: 54px;
    position: relative;
    
    top:14rem;
  }
}
 body:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../pic/bg16.jpg);
    opacity: 0.8;
    position: absolute;
    content: "";
}
.myhome { 
  @media screen and (min-width: $on-medium) {
    border-bottom: 1px solid $brand-color-light;
    text-align: center;
  }
}
.mytrigger {
  position: relative;
  //right: 42rem;
}
.mylink {
  display: block;
  @media screen and (min-width: $on-medium) {
  position: relative;
  top:13rem;
  text-align: center;
}
}
.mysite-nav {
  @media screen and (min-width: $on-medium) {
    position: static;
    float: none;
    border: none;
    background-color: inherit;
  }
}

