---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima-{{ site.minima.skin | default: 'classic' }}";
body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../pic/bg9.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
}
